*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url("images/pexels-thibault-trillet-167491.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.signin{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: darkorange;
    color: white;
    font-size: 15px;


}
.signin:hover{
    background-color: orange;
    transition: 0.5s;
}
p{
    color: black;
    
}
h1{
    color: black;
}
label{
    color: black;
}

.form-popup{
    display: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 5%;
    margin-left: 40%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.maintext{
    width: 100%;
    position: absolute;
    top: 50%;
    
    text-align: center;
    color: #f1f1f1;
}
.title{
    font-size: 50px;
    color: white;

}
.text{
    color: white;
    font-size: 20px;
}
.signup{
    background-color: darkorange;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.signup:hover{
    background-color: darkgoldenrod;
}
.open{
    background-color: #555;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 280px;
    font-size: 15px;

}
.open:hover{
    background-color: #ddd;
    color: black;
}
.wrapper{
    max-width: 30rem;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
input{
    width: 80%;
    padding: 2%;
    margin: 5px 0 22px 0;

}
.close{
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.close:hover{
    background-color: red;
}

